/* VARIÁVEIS */ 
$purple: #371E56;
$purpletext: #5F4B78;
$light: #ECE9EF;
$bluetext: #42526B;
$white: #fff;
$aqua: #2BC4C3;
$aquatext: #0C9898;
$green: #17C37B;



/* MIXINS */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;

@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}
@mixin xxl {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}

/* 
@include sm {
     
    }
@include md {
     
    }
@include lg {
     
    }
@include xl {
     
    }
 */

/* ELEMENTOS PADRÃO */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
:root {
    font-size: 16px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

strong {
  font-weight: bold;
}

body {
	line-height: 1;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
  }

.centra {
  display: flex;
  align-items: center;
  justify-content: center!important;
}

.wrapper__consolide {
  overflow-x: hidden;    
}

.section__title {
  color: $purple;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 25px;
  max-width: 400px;

  @include md {
      font-size: 2rem;
      max-width: 500px;
      margin-bottom: 50px;
  }

  @include lg {
      font-size: 3rem;
      max-width: 750px;
  }
}


@import './header.scss';
@import './registro.scss';
@import './como__funciona.scss';
@import './cnpj.scss';
@import './beneficios.scss';
@import './depoimento.scss';
@import './slider.scss';
@import './parceria.scss';
@import './footer.scss';